name: Spell Check

on: pull_request

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'


      - name: Install cspell
        run: npm install -g cspell

      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1

      - name: Run cspell with reviewdog (PR only)
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cspell --show-suggestions --gitignore --relative "src/**/*.{js,ts,md}" | \
            reviewdog -efm="%f:%l:%c: %m" -name="cspell" -reporter=github-pr-review -filter-mode=diff_context -fail-on-error=true